#include "oclint/AbstractASTMatcherRule.h"
#include "oclint/RuleSet.h"

using namespace std;
using namespace clang;
using namespace clang::ast_matchers;
using namespace oclint;

class {{RULE_CLASS_NAME}}Rule : public AbstractASTMatcherRule
{

private:
    static RuleSet rules;

public:
    virtual const string name() const override
    {
        return "{{RULE_NAME}}";
    }

    virtual int priority() const override
    {
        return {{RULE_PRIORITY}};
    }

    virtual void callback(const MatchFinder::MatchResult &result) override
    {
    }

    virtual void setUpMatcher() override
    {
    }

};

RuleSet {{RULE_CLASS_NAME}}Rule::rules(new {{RULE_CLASS_NAME}}Rule());
