#include <clang/AST/AST.h>

#include "oclint/RuleBase.h"
#include "oclint/RuleSet.h"

using namespace std;
using namespace oclint;

class {{RULE_CLASS_NAME}}Rule : public RuleBase
{
public:
    virtual const string name() const override
    {
        return "{{RULE_NAME}}";
    }

    virtual int priority() const override
    {
        return {{RULE_PRIORITY}};
    }

    virtual const string category() const override
    {
        return "{{RULE_CATEGORY}}";
    }

#ifdef DOCGEN
    virtual const std::string since() const override
    {
        return "{{OCLINT_VERSION}}";
    }

    virtual const std::string description() const override
    {
        return ""; // TODO: fill in the description of the rule.
    }

    virtual const std::string example() const override
    {
        return R"rst(
.. code-block:: cpp

    void example()
    {
        // TODO: modify the example for this rule.
    }
        )rst";
    }

    /* fill in the file name only when it does not match the rule identifier
    virtual const std::string fileName() const override
    {
        return "";
    }
    */

    /* add each threshold's key, description, and its default value to the map.
    virtual const std::map<std::string, std::string> thresholds() const override
    {
        std::map<std::string, std::string> thresholdMapping;
        return thresholdMapping;
    }
    */

    /* add additional document for the rule, like references, notes, etc.
    virtual const std::string additionalDocument() const override
    {
        return "";
    }
    */

    /* uncomment this method when the rule is enabled to be suppressed.
    virtual bool enableSuppress() const override
    {
        return true;
    }
    */
#endif

    virtual void apply() override
    {
    }

};

static RuleSet rules(new {{RULE_CLASS_NAME}}Rule());
