#include "oclint/AbstractSourceCodeReaderRule.h"
#include "oclint/RuleSet.h"

class {{RULE_CLASS_NAME}}Rule : public AbstractSourceCodeReaderRule
{
private:
    static RuleSet rules;

public:
    virtual const string name() const
    {
        return "{{RULE_NAME}}";
    }

    virtual const int priority() const
    {
        return {{RULE_PRIORITY}};
    }

    virtual void eachLine(int lineNumber, string line)
    {
    }
};

RuleSet {{RULE_CLASS_NAME}}Rule::rules(new {{RULE_CLASS_NAME}}Rule());
