name: Build Using System LLVM
on:
  pull_request:
  schedule:
    - cron:  '0 15 * * 0'

jobs:
  build-on-linux:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 13
          sudo apt-get -y install libllvm13 llvm-13 llvm-13-dev llvm-13-runtime clang-13 clang-tools-13 libclang-common-13-dev libclang-13-dev libclang1-13
      - run: |
          cd oclint-scripts
          ./build -no-ninja -llvm-root=/usr/lib/llvm-13
          ./bundle -archive -llvm-root=/usr/lib/llvm-13
  build-on-mac:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo xcode-select -s /Applications/Xcode_13.0.app/Contents/Developer
          HOMEBREW_NO_AUTO_UPDATE=1 brew install llvm@13
      - run: |
          cd oclint-scripts
          ./build -no-ninja -llvm-root=/usr/local/opt/llvm\@13
          ./bundle -archive -llvm-root=/usr/local/opt/llvm\@13
