name: Tests
on:
  push:
  pull_request:
  schedule:
    - cron:  '0 15 * * 0'

jobs:
  tests-on-linux:
    name: Tests on Linux
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: "core"
            deps: ""
          - module: "metrics"
            deps: ""
          - module: "rules"
            deps: "core metrics"
          - module: "reporters"
            deps: "core"
          - module: "driver"
            deps: "core"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - env:
          MODULE: ${{ matrix.module }}
          DEPS: ${{ matrix.deps }}
        run: cd oclint-scripts && ./gh-actions test $MODULE $DEPS && cd ..
      #- env:
      #    MODULE: ${{ matrix.module }}
      #   run: |
      #     sudo apt-get install -y lcov
      #     lcov --capture --directory build/oclint-${MODULE}-test --output-file lcov.info
      #     lcov --extract lcov.info "*oclint-${MODULE}/*" --output-file lcov.info
      #     lcov --remove lcov.info "*oclint-${MODULE}/test*" --output-file lcov.info
      #     lcov --list lcov.info
      #   if:  matrix.module != 'driver'
      # - name: Coveralls Parallel
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.github_token }}
      #     parallel: true
      #     flag-name: cov-${{ github.run_number }}-linux-${{ matrix.module }}
      #     path-to-lcov: lcov.info
      #   if:  matrix.module != 'driver'
  tests-on-mac:
    name: Tests on macOS
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: "core"
            deps: ""
          - module: "metrics"
            deps: ""
          - module: "rules"
            deps: "core metrics"
          - module: "reporters"
            deps: "core"
          - module: "driver"
            deps: "core"
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - env:
          MODULE: ${{ matrix.module }}
          DEPS: ${{ matrix.deps }}
        run: |
          cd oclint-scripts
          # Download prebuilt LLVM first
          ./clang
          # Use prebuilt LLVM's clang as compiler for ABI compatibility
          export CC="$(pwd)/../build/llvm-install/bin/clang"
          export CXX="$(pwd)/../build/llvm-install/bin/clang++"
          echo "Using prebuilt clang: $CC"
          # Checkout and build googletest
          ./googleTest co
          ./googleTest build
          # Build dependencies first (with -as-dep flag)
          for dep in $DEPS; do
            ./test "$dep" -as-dep -no-ninja
          done
          # Build and run the main module test
          ./test "$MODULE" -no-ninja
      # - env:
      #     MODULE: ${{ matrix.module }}
      #   run: |
      #     brew install lcov
      #     lcov --capture --directory build/oclint-${MODULE}-test --output-file lcov.info
      #     lcov --extract lcov.info "*oclint-${MODULE}/*" --output-file lcov.info
      #     lcov --remove lcov.info "*oclint-${MODULE}/test*" --output-file lcov.info
      #     lcov --list lcov.info
      #   if:  matrix.module != 'driver'
      # - name: Coveralls Parallel
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.github_token }}
      #     parallel: true
      #     flag-name: cov-${{ github.run_number }}-macos-${{ matrix.module }}
      #     path-to-lcov: lcov.info
      #   if:  matrix.module != 'driver'
  # wrap-up:
  #   needs: [tests-on-linux, tests-on-mac]
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Coveralls Finished
  #     uses: coverallsapp/github-action@master
  #     with:
  #       github-token: ${{ secrets.github_token }}
  #       parallel-finished: true
